extends ../layout/admin

block contenido
    h2(class="text-center text-2xl font-bold")

    h2(class="text-center mt-5 font-bold text-lg") Noticias

    div(class="bg-white shadow rounded-lg mt-5")
        ul(class="divide-y divide-gray-200")
            li
                div(class="border border-gray-950 p-6 w-full items-center justify-between space-y-8 gap-4 md:space-y-0")
                    h2(class="text-center font-bold text-lg") Aviso
                    p(class="font-semibold text-md ") Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quam totam accusantium necessitatibus eligendi quaerat ut eos dolor corporis. Cupiditate assumenda voluptas rem dolorum fuga recusandae eligendi? Expedita optio ea accusantium a fugit. Ex quas quisquam vero laborum nisi voluptatibus ut, officia incidunt harum, ipsa repudiandae libero neque quibusdam. Sit!
block scripts
    script(src="/js/sidebar.js") 