html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ayuntamiento | #{pagina}
        block styles
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(href="/img/favicon.ico", type="image/x-icon")
    body
        include includes/header-admin

        main(class="p-4 sm:ml-64")
            block contenido

        block scripts