html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ayuntamiento | #{pagina}
        block styles
        link(rel="stylesheet" href="/css/app.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    body(class="bg-gray-200")
        main(class="mx-auto container")
            block contenido
