extends ../layout/app


block contenido
    div(class="mt-8 mx-auto max-w-screen-md")
        div.bg-white.py-8.px-4.shadow
            h1(class="text-center mt-5 font-bold text-2xl") Perfil
            form.space-y-5
                input(type="hidden")
                div
                    label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre") Nombre
                    input(class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" name="nombre" value=usuario.nombre disabled)
                div
                    label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="apellidos") Apellidos
                    input(class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" name="apellido" value=usuario.apellido  disabled)
                div
                    label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre") Correo
                    input(class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="email" name="correo" value=usuario.correo disabled)
                div
                    label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre") Contraseña
                    input(class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="password" name="password" value="Correo1@correo.com" disabled)
                div
                    label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="nombre") Cargo
                    input(class="w-full px-3 py-2 border border-gray-600 rounded-md placeholder-gray-400" type="text" name="password" value=usuario.cargo  disabled)
block scripts
    script(src="/js/sidebar.js") 